table{
	margin-top: 50px;
	text-align: center;
	background: #014c87;
	color: #fff;
    border: 35px;
}

#show th, #show td{
	padding: 23px;
}

#btna td input{
	width: 100%;
}
 #t1
 {
    border: 30px;
 }
 body
 {
    background-color: #c8c3d2;
 }
 .b1
 {
    padding: 10px;
 }
 